mixin animeCard(anime)
  .container.border-8.border-double.mb-10
    table(class="")
      tbody
        tr
          td(class="border px-4 py-2")
            a(href= anime.url )
              img(src= anime.image_url alt= anime.title)
            h3(class="border-b font-bold text-gray-800") Information
            p(class="text-sm font-medium text-gray-900") Type: 
              span.font-normal= anime.type
            p(class="text-sm font-medium text-gray-900") Episodes: 
              span.font-normal= anime.episodes.toString()
            p(class="text-sm font-medium text-gray-900") Airing: 
              span.font-normal= anime.airing.toString()
            - const startDate = new Date(anime.start_date)
            - const endDate = new Date(anime.end_date)
            p(class="text-sm font-medium text-gray-900") Start Date: 
              span.font-normal= startDate.toLocaleDateString()
            p(class="text-sm font-medium text-gray-900") End Date: 
              span.font-normal= endDate.toLocaleDateString()
          td(class="border px-4 py-2")
            table
              tbody
                tr
                  td
                    h2(class="font-bold text-gray-900")= anime.title
                    div(class="bg-blue-300 w-16 text-center")
                      h3(class="font-medium border-b italic text-gray-800") SCORE
                      p(class="text-sm font-medium")= anime.score
                    h3(class="border-b font-bold text-gray-800") Synopsis
                    p= anime.synopsis
                