mixin animeCard(anime)
  .container.bg-teal-100.border-8.border-double
    table(class="")
      tbody
        tr
          td(class="border px-4 py-2")
            a(href= anime.url )
              img(src= anime.image_url alt= anime.title)
            h2(class="")= anime.title
          td(class="border px-4 py-2")
            p= anime.synopsis
            p= anime.type
            p= anime.episodes.toString()
            p= anime.score.toString() 
    